<div class="card-top container-fluid">
    <div class="contaner d-flex">
        <div class="item"><a>
                <img src="https://complete address" alt="">
                <h6>all products</h6>
            </a></div>
        <div class="item"><a>
                <img src="https://complete address" alt="">
                <h6>Electronics</h6>
            </a></div>
        <div class="item"><a>
                <img src="https://complete address" alt="">
                <h6>Fashion</h6>
            </a></div>
        <div class="item"><a>
                <img style="width: 62px; margin-top: 5px;" src="https://complete address" alt="">
                <h6>jewelries</h6>
            </a></div>
    </div>
</div>

<div class="container">
    <div class="row">
       
            <div class="card col-3" *ngFor="let item of productList">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-primary">add to cart</button>
            </div>
        
    </div>
</div>